In [6]:
# List of high schools.
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [9]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
print(high_school_types)

[{'High School': 'Griffin', 'Type': 'District'}, {'High School': 'Figueroa', 'Type': 'District'}, {'High School': 'Wilson', 'Type': 'Charter'}, {'High School': 'Wright', 'Type': 'Charter'}]

In [10]:
#List of high schools.
high_schools = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [11]:
# Add the Pandas dependency.
import pandas as pd

In [13]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

'Hernandez High School'

In [14]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                    {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name": "Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name": "Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name": "Griffin High School", "type": "Charter"}]

In [15]:
# Create DataFrame from list of dictionaries
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [16]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [22]:
# Initialize a new DataFrame
schools_df = pd.DataFrame()

# Add the list to a new DataFrame
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school

schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [21]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name': school_name, 'type': type_of_school}

In [23]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [24]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [25]:
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [31]:
school_id_df = pd.DataFrame(school_id)
school_name_df = pd.DataFrame(school_name)
type_df = pd.DataFrame(type_of_school)
school_id_df
school_name_df
type_df

          0
0  District
1  District
2   Charter
3  District
4   Charter